# <u>**My Top 4 Queries**</u>

## **Query 4 Exercise**

- Proposition: Returns a summary of the number of orders placed by each employee for the years 2014, 2015, and 2016.
    
- Table: The query operates on the Northwinds2022TSQLV7 database, specifically on the dbo.Orders table.
    
- Columns: The columns utilized are EmployeeId, cnt2014, cnt2015, and cnt2016.
    
- Predicate: The query employs a derived table (aliased as D) to transform the order dates into order years using the YEAR() function. Then, it utilizes conditional aggregation with COUNT and CASE statements to calculate the number of orders for each employee in each specified year. Finally, it groups the results by EmployeeId.
- Whats Special: This SQL code efficiently calculates the count of orders made by each employee in the years 2014, 2015, and 2016. It uses a technique called conditional aggregation, where it counts orders made in each specific year by employees without having to retrieve the individual order records. This approach streamlines the process, providing a clear breakdown of order counts per employee for each year, aiding in performance optimization and simplified data analysis for business decision-making.

In [ ]:
USE Northwinds2022TSQLV7;

DROP TABLE IF EXISTS dbo.Orders;
GO

CREATE TABLE dbo.Orders                     --create dbo.Orders
(
  OrderId   INT        NOT NULL,
  OrderDate DATE       NOT NULL,
  EmployeeId     INT        NOT NULL,
  CustomerId    VARCHAR(5) NOT NULL,
  Qty       INT        NOT NULL,
  CONSTRAINT PK_Orders PRIMARY KEY(OrderId)
);

INSERT INTO dbo.Orders(OrderId, OrderDate, EmployeeId, CustomerId, Qty)
VALUES
  (30001, '20140802', 3, 'A', 10),
  (10001, '20141224', 2, 'A', 12),
  (10005, '20141224', 1, 'B', 20),
  (40001, '20150109', 2, 'A', 40),
  (10006, '20150118', 1, 'C', 14),
  (20001, '20150212', 2, 'B', 12),
  (40005, '20160212', 3, 'A', 10),
  (20002, '20160216', 1, 'C', 20),
  (30003, '20160418', 2, 'B', 15),
  (30004, '20140418', 3, 'C', 22),
  (30007, '20160907', 3, 'D', 30);

SELECT * FROM dbo.Orders;
------------------------------------------------------------------------------------------------------------
USE TSQLV4;

SELECT empid,
  COUNT(CASE WHEN orderyear = 2014 THEN orderyear END) AS cnt2014,
  COUNT(CASE WHEN orderyear = 2015 THEN orderyear END) AS cnt2015,
  COUNT(CASE WHEN orderyear = 2016 THEN orderyear END) AS cnt2016  
FROM (SELECT empid, YEAR(orderdate) AS orderyear
      FROM dbo.Orders) AS D
GROUP BY empid;
SELECT * FROM dbo.Orders;

------------------------------------------------------------------------------------------------------------
use Northwinds2022TSQLV7
SELECT EmployeeId,
  COUNT(CASE WHEN orderyear = 2014 THEN orderyear END) AS cnt2014,
  COUNT(CASE WHEN orderyear = 2015 THEN orderyear END) AS cnt2015,
  COUNT(CASE WHEN orderyear = 2016 THEN orderyear END) AS cnt2016  
FROM (SELECT EmployeeId, YEAR(orderdate) AS orderyear
      FROM dbo.Orders) AS D
GROUP BY EmployeeId;

## **Query**Â 
<img src="https://static.vecteezy.com/system/resources/previews/022/841/114/non_2x/chatgpt-logo-transparent-background-free-png.png" alt="AI" width="20" height="20"> _Written in collaboration with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query_
- Proposition: Analyzing Window Functions for Sales Order Values
1. **Query 1:** Applies multiple window functions (ROW_NUMBER(), RANK(), DENSE_RANK(), NTILE()) over the entire dataset of sales order values to generate sequential row numbers, ranks, dense ranks, and divides the dataset into equal tiles based on the order values.
    * Columns: orderid, CustomerId, val, rownum, rank, dense_rank, ntile
    * Table: Sales.OrderValues
    * Predicate: No specific predicate mentioned; operates on the entire Sales.OrderValues table.
2. **Query 2:** Utilizes the ROW_NUMBER() window function partitioned by CustomerId, ordering the values within each partition. This assigns a row number to each order value within distinct customer groups.
    * Columns: orderid, CustomerId, val, rownum
    * Table: Sales.OrderValues
    * Predicate: No specific predicate mentioned; operates on the entire Sales.OrderValues table.
3. **Query 3:** Selects distinct order values and assigns a sequential row number to each value, disregarding partitioning by customers.
    * Columns: val, rownum
    * Table: Sales.OrderValues
    * Predicate: No specific predicate mentioned; operates on the entire Sales.OrderValues table.
4. **Query 4:** Similar to Query 3 but also includes the GROUP BY clause to group order values and assigns row numbers within each group.
    * Columns: val, rownum
    * Table: Sales.OrderValues
    * Predicate: No specific predicate mentioned; operates on the entire Sales.OrderValues table.
- Whats Special: This SQL code utilizes window functions to add additional information to the query results without altering the main dataset. These functions, such as ROW_NUMBER(), RANK(), DENSE_RANK(), and NTILE(), assign sequential numbers or ranks to rows based on certain criteria, like the value in the 'val' column or grouping by 'CustomerId'. This allows for easier analysis and comparison of data within the result set, providing insights like row numbers, rankings, or dividing data into equal-sized buckets.

In [ ]:

use TSQLV4
SELECT orderid, custid, val,
  ROW_NUMBER() OVER(ORDER BY val) AS rownum,
  RANK()       OVER(ORDER BY val) AS rank,
  DENSE_RANK() OVER(ORDER BY val) AS dense_rank,
  NTILE(10)    OVER(ORDER BY val) AS ntile
FROM Sales.OrderValues
ORDER BY val;

SELECT orderid, custid, val,
  ROW_NUMBER() OVER(PARTITION BY custid
                    ORDER BY val) AS rownum
FROM Sales.OrderValues
ORDER BY custid, val;

SELECT DISTINCT val, ROW_NUMBER() OVER(ORDER BY val) AS rownum
FROM Sales.OrderValues;

SELECT val, ROW_NUMBER() OVER(ORDER BY val) AS rownum
FROM Sales.OrderValues
GROUP BY val;




use Northwinds2022TSQLV7
SELECT orderid, CustomerId, val,
  ROW_NUMBER() OVER(ORDER BY val) AS rownum,
  RANK()       OVER(ORDER BY val) AS rank,
  DENSE_RANK() OVER(ORDER BY val) AS dense_rank,
  NTILE(10)    OVER(ORDER BY val) AS ntile
FROM Sales.OrderValues
ORDER BY val;

SELECT orderid, CustomerId, val,
  ROW_NUMBER() OVER(PARTITION BY CustomerId
                    ORDER BY val) AS rownum
FROM Sales.OrderValues
ORDER BY CustomerId, val;

SELECT DISTINCT val, ROW_NUMBER() OVER(ORDER BY val) AS rownum
FROM Sales.OrderValues;

SELECT val, ROW_NUMBER() OVER(ORDER BY val) AS rownum
FROM Sales.OrderValues
GROUP BY val;

## **Query**Â 

- Proposition: Provides a summary of order quantities aggregated by pairs of EmployeeId and CustomerId, along with subtotals for EmployeeId, CustomerId, and a grand total.

- Table: The query operates on the dbo.Orders table.

- Columns: The query selects EmployeeId, CustomerId, and calculates the total quantity of orders using the SUM() function.

- Predicate: The query utilizes the GROUP BY clause with GROUPING SETS to specify multiple grouping sets. It groups the orders based on EmployeeId and CustomerId pairs, EmployeeId alone, CustomerId alone, and finally, provides a grand total. This allows for a comprehensive analysis of order quantities at various levels of aggregation, from individual employees and customers to all possible combinations of them.
- Whats Special: This SQL code efficiently summarizes order quantities for each combination of employees and customers, as well as for individual employees and customers, and provides a grand total. It achieves this by using the GROUP BY clause with GROUPING SETS, which allows for multiple levels of aggregation in a single query. This approach simplifies data analysis, providing insights into order quantities at different levels of granularity, aiding in decision-making processes without the need for multiple separate queries.

In [ ]:

USE TSQLV4;

DROP TABLE IF EXISTS dbo.Orders;
GO

CREATE TABLE dbo.Orders
(
  orderid   INT        NOT NULL,
  orderdate DATE       NOT NULL,
  empid     INT        NOT NULL,
  custid    VARCHAR(5) NOT NULL,
  qty       INT        NOT NULL,
  CONSTRAINT PK_Orders PRIMARY KEY(orderid)
);

INSERT INTO dbo.Orders(orderid, orderdate, empid, custid, qty)
VALUES
  (30001, '20140802', 3, 'A', 10),
  (10001, '20141224', 2, 'A', 12),
  (10005, '20141224', 1, 'B', 20),
  (40001, '20150109', 2, 'A', 40),
  (10006, '20150118', 1, 'C', 14),
  (20001, '20150212', 2, 'B', 12),
  (40005, '20160212', 3, 'A', 10),
  (20002, '20160216', 1, 'C', 20),
  (30003, '20160418', 2, 'B', 15),
  (30004, '20140418', 3, 'C', 22),
  (30007, '20160907', 3, 'D', 30);


SELECT * FROM dbo.Orders;
-----------------------------------------------------------------------------------------------------------------
--12.-- GROUPING SETS Subclause
---------------------------------------------------------------------

-- Using the GROUPING SETS subclause
 -- Listing 1: Code to Create and Populate the Orders Table
use TSQLV4
SELECT empid, custid, SUM(qty) AS sumqty
FROM dbo.Orders
GROUP BY
  GROUPING SETS
  (
    (empid, custid),
    (empid),
    (custid),
    ()
  );
--------------------------------------------------------------------------------------------------------------------
USE Northwinds2022TSQLV7;

DROP TABLE IF EXISTS dbo.Orders;  
GO

CREATE TABLE dbo.Orders                  --create dbo.Orders
(
  OrderId   INT        NOT NULL,
  OrderDate DATE       NOT NULL,
  EmployeeId     INT        NOT NULL,
  CustomerId    VARCHAR(5) NOT NULL,
  Qty       INT        NOT NULL,
  CONSTRAINT PK_Orders PRIMARY KEY(OrderId)
);

INSERT INTO dbo.Orders(OrderId, OrderDate, EmployeeId, CustomerId, Qty)
VALUES
  (30001, '20140802', 3, 'A', 10),
  (10001, '20141224', 2, 'A', 12),
  (10005, '20141224', 1, 'B', 20),
  (40001, '20150109', 2, 'A', 40),
  (10006, '20150118', 1, 'C', 14),
  (20001, '20150212', 2, 'B', 12),
  (40005, '20160212', 3, 'A', 10),
  (20002, '20160216', 1, 'C', 20),
  (30003, '20160418', 2, 'B', 15),
  (30004, '20140418', 3, 'C', 22),
  (30007, '20160907', 3, 'D', 30);

SELECT * FROM dbo.Orders;

-------------------------------------------------------------------------------------------------------------
use Northwinds2022TSQLV7
SELECT EmployeeId, CustomerId, SUM(qty) AS sumqty
FROM dbo.Orders
GROUP BY
  GROUPING SETS
  (
    (EmployeeId, CustomerId),
    (EmployeeId),
    (CustomerId),
    ()
  );

## **Query**Â 
- Proposition: Returns a summary of order quantities aggregated by year, month, and day, along with totals for each level of aggregation.

- Table: The query operates on the dbo.Orders table.

- Columns: The query calculates the year, month, and day components of the order date using the YEAR(), MONTH(), and DAY() functions respectively. It also calculates the total quantity of orders using the SUM() function.

- Predicate: The query employs the GROUP BY clause to group the orders based on their order dates, considering year, month, and day. Additionally, it uses the ROLLUP() function to generate subtotal rows for each level of aggregation (year, month, day) and a grand total row.
- Whats Special: This SQL code generates a summary of order quantities categorized by year, month, and day of the order date. It employs the GROUP BY clause with ROLLUP to create subtotal rows for each level of time granularity, allowing for a comprehensive overview of order quantities over time. By simplifying the analysis process, it provides valuable insights into order trends and patterns without the need for complex data manipulation, aiding in decision-making for businesses.

In [ ]:

USE TSQLV4;

DROP TABLE IF EXISTS dbo.Orders;
GO

CREATE TABLE dbo.Orders     --create the table to get qty
(
  orderid   INT        NOT NULL,
  orderdate DATE       NOT NULL,
  empid     INT        NOT NULL,
  custid    VARCHAR(5) NOT NULL,
  qty       INT        NOT NULL,
  CONSTRAINT PK_Orders PRIMARY KEY(orderid)
);

INSERT INTO dbo.Orders(orderid, orderdate, empid, custid, qty)
VALUES
  (30001, '20140802', 3, 'A', 10),
  (10001, '20141224', 2, 'A', 12),
  (10005, '20141224', 1, 'B', 20),
  (40001, '20150109', 2, 'A', 40),
  (10006, '20150118', 1, 'C', 14),
  (20001, '20150212', 2, 'B', 12),
  (40005, '20160212', 3, 'A', 10),
  (20002, '20160216', 1, 'C', 20),
  (30003, '20160418', 2, 'B', 15),
  (30004, '20140418', 3, 'C', 22),
  (30007, '20160907', 3, 'D', 30);

------------------------------------------------------------------------------------------------------------------------------------
--14.-- ROLLUP Subclause
---------------------------------------------------------------------

-- Using the ROLLUP subclause
use TSQLV4
SELECT 
  YEAR(orderdate) AS orderyear,
  MONTH(orderdate) AS ordermonth,
  DAY(orderdate) AS orderday,
  SUM(qty) AS sumqty
FROM dbo.Orders
GROUP BY ROLLUP(YEAR(orderdate), MONTH(orderdate), DAY(orderdate));

----------------------------------------------------------------------------------------------------------------------------------
USE Northwinds2022TSQLV7;

DROP TABLE IF EXISTS dbo.Orders;  
GO

CREATE TABLE dbo.Orders                  --create dbo.Orders
(
  OrderId   INT        NOT NULL,
  OrderDate DATE       NOT NULL,
  EmployeeId     INT        NOT NULL,
  CustomerId    VARCHAR(5) NOT NULL,
  Qty       INT        NOT NULL,
  CONSTRAINT PK_Orders PRIMARY KEY(OrderId)
);

INSERT INTO dbo.Orders(OrderId, OrderDate, EmployeeId, CustomerId, Qty)
VALUES
  (30001, '20140802', 3, 'A', 10),
  (10001, '20141224', 2, 'A', 12),
  (10005, '20141224', 1, 'B', 20),
  (40001, '20150109', 2, 'A', 40),
  (10006, '20150118', 1, 'C', 14),
  (20001, '20150212', 2, 'B', 12),
  (40005, '20160212', 3, 'A', 10),
  (20002, '20160216', 1, 'C', 20),
  (30003, '20160418', 2, 'B', 15),
  (30004, '20140418', 3, 'C', 22),
  (30007, '20160907', 3, 'D', 30);

SELECT * FROM dbo.Orders;
------------------------------------------------------------------------------------------------------------------------------------------
use Northwinds2022TSQLV7
SELECT 
  YEAR(orderdate) AS orderyear,
  MONTH(orderdate) AS ordermonth,
  DAY(orderdate) AS orderday,
  SUM(qty) AS sumqty
FROM dbo.Orders
GROUP BY ROLLUP(YEAR(orderdate), MONTH(orderdate), DAY(orderdate));